.home-page {
  h1 {
    position: relative;
    display: inline-block;
    color: var(--text2);
    font-size: 2rem;
    line-height: 1.2;
    font-family: "Coolvetica";
    font-weight: 400;

    @media screen and (min-width: 50em) {
      font-size: 4rem;
    }

    &:before {
      content: "<h1>";
      position: absolute;
      color: var(--text4);
      font-family: "La Belle Aurore", cursive;
      font-size: 1.25rem;
      margin-top: -1em;
      left: -1em;
      opacity: 0.6;
    }

    &:after {
      content: "<h1/>";
      position: absolute;
      font-family: "La Belle Aurore", cursive;
      color: var(--text4);
      font-size: 1.25rem;
      bottom: 0;
      right: -2.5em;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      display: inline;
      margin-left: 0.3em;
      opacity: 0;
      width: 0.5em;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  h2 {
    color: var(--text1);
    margin-top: 2em;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    color: var(--text4);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid var(--text4);
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: var(--clr-secondary-500);
      color: var(--clr-primary-900);
    }
  }
}
