.nav-bar {
    background: #181818;
    width: var(--sidebar-width);
    height: 100vh;
    top: 0;
    z-index: 3;
    min-height: 500px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    .logo {
        padding: 8px 0;
        img {
            margin: 8px auto;
            width: 24px;
            height: auto;
            
            &.sub-logo {
                width: 50px;
            }

        }
    }
    nav { 
        display: block;
        text-align: center;
        place-self: center;
        width: 100%;
        a {
            position: relative;
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }
            &:hover {
                color: #ffd700;

                svg {
                opacity: 0;
                }

                &:after {
                opacity: 1;
                }
            }
            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }
            &:first-child {
                &:after {
                content: 'HOME';
                }
            }
        }
        a.about-link {
        &:after {
            content: 'ABOUT';
            }
        }

        a.contact-link {
            &:after {
            content: 'CONTACT';
            }
        }
        a.active {
            svg {
                color: #ffd700;
            }
        }
    }
    ul{
        width: 100%;
        display: block;
        place-self: end;
        padding-inline: 0;
        padding-block-end: 2rem;
        list-style: none;
        text-align: center;
        margin: 0;
        li {
            a{
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

                &:hover svg{
                    color: #ffd700;
                }

            }
        }
    }
}