.nav-bar {
    background: #181818;
    width: 4rem;
    height: max(100vh, 400px);
    top: 0;
    z-index: 3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    .logo {
        padding-block-start: 0.5rem;
        img {
            margin: 0.5rem auto;
            width: 1.5rem;
            
            &.sub-logo {
                width: 90%;
            }
        }
    }
    nav { 
        display: block;
        text-align: center;
        place-self: center;
        width: 100%;
        a {
            position: relative;
            font-size: 1.5rem;
            color: var(--clr-neutral-500);
            display: block;
            line-height: 2em;
            position: relative;
            text-decoration: none;

            // i {
            //     transition: all 0.3s ease-out;
            // }

            &:hover {
                color: var(--clr-secondary-500);

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
            &:after {
                content: '';
                font-size: 0.4em;
                // letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
            }

            &:first-child::after {
                content: 'HOME';
            }

            &.about-link::after {
                content: 'ABOUT';
            }
    
            &.contact-link::after {
                content: 'CONTACT';
            }

            &.active > svg {
                color: var(--clr-secondary-500);
            }
        }
    }
    ul{
        width: 100%;
        display: block;
        place-self: end;
        padding-inline: 0;
        padding-block-end: 2rem;
        list-style: none;
        text-align: center;
        margin: 0;
        li > a {
            display: block;
            font-size: 1rem;
            line-height: 1;
            padding: 0.5em 0;

            &:hover > svg{
                color: var(--clr-secondary-500);
            }
        }
    }
}